*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }
    
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: rgb(83, 116, 145); */
    
    }
    
    .box{
    
    width: 150px;
    height: 150px;
    margin: 10px;
    background: #d2a552;
    border-radius: 150px;
    
    }
    

    body{
        background: black;
    }